@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
    url('../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AGRESSIVE';
  src: local('AGRESSIVE'), local('AGRESSIVE'),
    url('../fonts/AGRESSIVE.woff2') format('woff2'),
    url('../fonts/AGRESSIVE.woff') format('woff'),
    url('../fonts/AGRESSIVE.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


:root {
  --family-gotham: 'Gotham Pro';
  --family-agressive: 'AGRESSIVE';
  --color-gold: #BF906C;
  --color-black: #191B1D;
  --color-white: #FFFFFF;
}

body {
  font-family: 'Gotham Pro';
  font-style: normal;

  background: var(--color-black);
}

button {
  cursor: pointer;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $SECTION STYLE ===============*/

.btn {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.bg_gold_color {
  background: var(--color-gold);

  color: var(--color-white);
}

.btn.bg_white_color {
  background: var(--color-white);

  color: var(--color-black);
}

.section__title {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(191, 144, 108, 0.4) 0%, rgba(191, 144, 108, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section__title.align_left {
  text-align: left;
}

.section__title.align_right {
  text-align: right;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $HEADER STYLE ===============*/

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 0;
}

.header-btn.mob_hide {
  display: none;
}

.header__img {
  max-width: 124px;
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-info__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-decoration: none;
  color: var(--color-white);

  text-align: right;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $MAIN-BANNER STYLE ===============*/


.main-banner {
  background: url(../img/main-banner_mob.webp)no-repeat;
  background-size: cover;
  background-position: center;

  padding: 83px 0 20px;
}

.main-banner__title {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-gold);

  margin-bottom: 20px;
}

.main-banner__sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);

  display: block;

  margin-bottom: calc(100% + -40px);
}

.main-banner__button {
  height: 60px;

  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
}

.main-banner__time {
  margin: 30px 0 -114px;
}

.main-banner__time-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-banner__time-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-white);
}

.main-banner__time-action {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--color-gold);
}

.timer {
  display: flex;
  width: 92%;
  justify-content: space-between;
  margin: 35px auto 0;
}

.time-count__item {
  width: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.time-count__val {
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  text-transform: uppercase;
  color: var(--color-white);
}

.time-count__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  text-transform: uppercase;
  color: var(--color-white);
}

.pie {
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  transform: rotate(-90deg);
  position: absolute;
  bottom: -14px;
  left: -11px;
}

.pie .background {
  fill: none;
  stroke: var(--color-white);
  stroke-width: 2px;

}

.pie .chart {
  fill: none;
  stroke: var(--color-gold);
  stroke-width: 3;
  z-index: 3;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $MODELS STYLE ===============*/

.models__upper {
  padding: 190px 5px 0;
}

.models__list {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.models__card-info {
  display: flex;
  flex-direction: column;

  margin-bottom: 17px;
}

.models__card-head {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: var(--color-white);

  margin-bottom: 20px;
}

.models__card-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--color-white);
}

.models__card-number b {
  font-weight: bold;
}

.models__colors-container {
  display: flex;
  gap: 15px;

  margin-top: 20px;
}

.models__card-color {
  display: block;

  width: 27px;
  height: 27px;

  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.models__card-color.color-active::before {
  content: "";

  display: block;

  width: 13px;
  height: 13px;

  background: url(../img/ok-color.svg)no-repeat;
}

.swiper-pagination {
  display: none;
}

.models__card-benefit {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-gold);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 40px;
}

.models__card-img {
  position: relative;
}

.card__img {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  z-index: -1;

  transition: all .6s;
}

.card__img.js-active {
  position: static;
  opacity: 1;
  z-index: 1;
}

.models__card-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  margin-top: 20px;
}

.models__card-prev {
  width: 100%;
}

.models__card-action {
  padding: 20px 10px;

  border: 1px solid var(--color-gold);

  margin-top: 30px;
}

.models__card-list {
  display: grid;
  row-gap: 20px;
}

.models__card-item {
  display: flex;
  align-items: center;
  gap: 9px;

  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-white);
}

.models__card-item b {
  font-weight: bold;
}

.models__card-item::before {
  content: "";

  display: block;

  background: url(../img/arrow-card.svg)no-repeat;
  width: 70px;
  height: 4px;

  margin-left: -10px;
}

.models__card-credit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: var(--color-white);

  margin: 46px 0 28px;
}

.models__card-credit_big_size {
  font-size: 20px;
  line-height: 19px;
}

.models__card-price {
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.models__card-price_big_size {
  font-size: 20px;
  line-height: 19px;
}

.models__card-btns {
  display: grid;
  row-gap: 10px;

  margin-top: 14px;
}

.models__card-button {
  height: 43px;

  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $EQUIP STYLE ===============*/

.equip__upper {
  padding: 100px 0 60px;
}

.equip__title {
  font-size: 30px;
  line-height: 35px;
}

.equip__filter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.select2-container--default .select2-selection--single {
  height: 39px;

  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--color-gold);

  position: relative;

  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single::before {
  content: "";

  display: block;

  width: 1px;
  height: 39px;

  background: rgb(191, 144, 108);
  background: linear-gradient(0deg, rgba(191, 144, 108, 1) 0%, rgba(191, 144, 108, 0) 100%);

  position: absolute;
  left: 0;
  bottom: 0;
}

.select2-container--default .select2-selection--single::after {
  content: "";

  display: block;

  width: 1px;
  height: 39px;

  background: rgb(191, 144, 108);
  background: linear-gradient(0deg, rgba(191, 144, 108, 1) 0%, rgba(191, 144, 108, 0) 100%);

  position: absolute;
  right: 0;
  bottom: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;

  width: 20px;
  height: 11px;

  background: url(../img/arrow-select.svg)no-repeat;

  top: 16px;
  left: auto;
  right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: var(--color-gold);
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  background: var(--color-black);

  border: 1px solid var(--color-gold);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: var(--color-gold);
}

.select2-results__option {
  color: var(--color-gold);

  font-size: 14px;
  line-height: 16px;

  padding: 10px 20px;
}

.equip__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: 40px;
}

.equip__card {
  padding: 10px;

  border: 1px solid var(--color-gold);
}

.equip__card-images {
  width: 100%;
}

.equip__card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 10px;
}

.equip__card-head {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--color-white);
}

.equip__card-name,
.equip__card-drive {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: var(--color-gold);
}

.equip__card-spec {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-gold);
}

.equip__card-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;

  height: 43px;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $CREDIT STYLE ===============*/

.credit__upper {
  padding: 100px 0 60px 10px;
}

.credit__img img {
  width: 100%;
}

.credit__bg {
  background: linear-gradient(-90deg, rgba(191, 144, 108, 0.4) 0%, rgba(191, 144, 108, 0) 100%);

  padding: 34px 0 20px;

  position: relative;
}

.credit__info-head {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-gold);
}

.credit__list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  margin-top: 20px;
}

.credit__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);

  margin-top: 20px;

  height: 41px;
}

.credit__list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-white);
}

.credit__list-item b {
  font-weight: bold;
}

.credit__img-arrow1 {
  position: absolute;

  top: 15px;
  left: -16px;

  height: 240px;

  z-index: -1;
}

.credit__img-arrow2 {
  display: none;
}


/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/



/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $CONTACTS STYLE ===============*/

.contacts {
  padding-bottom: 100px;
}

.contacts__upper {
  padding: 100px 10px 60px 0;
}

.contacts__map img {
  width: 100%;

  display: block;
}

.contacts__info {
  padding: 0 16px;
}

.contacts__list {
  padding: 63px 0 63px 27px;

  border: 1px solid var(--color-gold);

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts__list-item,
.contacts__link {
  display: flex;
  align-items: center;
  gap: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-white);
  text-decoration: none;
}

.contacts__list img {
  max-width: 25px;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $FOOTER STYLE ===============*/

.footer {

  border-top: 1px solid var(--color-gold);

  padding: 30px 16px;
}

.footer__info-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__link,
.footer__info-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: var(--color-white);
  text-decoration: none;
}

.footer__link {
  color: var(--color-gold);
}

.footer__info-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__info {
  margin-top: 26px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*================ $POP-UP STYLE ===============*/


.pop-up {
  display: none;

  width: 90%;

  background: url(../img/pop-up_mob.webp)no-repeat;
  background-size: cover;
  background-position: center;

  padding: 10px;
}

.pop-up__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-up__head {
  font-family: var(--family-agressive);
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-white);
}

.pop-up__sub-head {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-gold);
}

.pop-up__form {
  margin-top: 151px;
}

.pop-up__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-up__input {
  width: 100%;

  background: none;

  border: none;
  border-bottom: 1px solid var(--color-gold);

  padding: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: var(--color-white);
}

.pop-up__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: var(--color-white);
}

.pop-up__form-inputs label {
  position: relative;
}

.pop-up__line1 {
  width: 1px;
  height: 33px;

  background: linear-gradient(0deg, rgba(191, 144, 108, 1) 0%, rgba(191, 144, 108, 0) 100%);

  position: absolute;
  left: 0;
  bottom: 0;
}

.pop-up__line2 {
  width: 1px;
  height: 33px;

  background: linear-gradient(0deg, rgba(191, 144, 108, 1) 0%, rgba(191, 144, 108, 0) 100%);

  position: absolute;
  right: 0;
  bottom: 0;
}

.pop-up__button {
  height: 33px;

  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  text-transform: uppercase;
  color: var(--color-white);

  margin-top: 10px;
}

.form-checkbox label {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  margin-top: 10px;

  width: 100%;
}

.form__input-check[type=checkbox] {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.form__input-check[type=checkbox]+.custom-checkbox {
  display: block;

  width: 9px;
  height: 9px;

  border: 1px solid var(--color-white);
  border-radius: 50%;
}

.form__input-check[type=checkbox]:checked+.custom-checkbox {
  background-image: url(../img/ball.svg);
  background-repeat: no-repeat;
  background-size: 3px;
  background-position: center;
}


.checkbox-text,
.checkbox-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--color-white);
}

.f-button.is-close-btn {
  background: none;
}

.f-button svg {
  stroke: var(--color-gold);
}

/*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*/

@media screen and (min-width: 430px) {
  .main-banner__time {
    width: 400px;

    margin: 30px auto -114px;
  }

  .main-banner__button {
    width: 400px;

    margin: 0 auto;
  }

  .models__list {
    width: 400px;
    margin: 60px auto 0;
  }

  .equip__list {
    width: 400px;

    margin: 40px auto 0;
  }

  .credit__button {
    width: 400px;

    margin: 20px auto 0;
  }

  .contacts__list {
    width: 400px;

    margin: 20px auto 0;
  }

  .pop-up {
    width: 400px;
  }

  .pop-up__head {
    padding-right: 10px;
  }
}

@media screen and (min-width: 600px) {
  .fancybox__content>.f-button.is-close-btn {
    top: 0;
  }
}

@media screen and (min-width: 700px) {
  .credit__img {
    display: flex;
    justify-content: center;
  }

  .credit__img img {
    max-width: 683px
  }
}